<meta name="viewport" content="width=device-width" initial-scale="1">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<body data-spy="scroll" data-target=".navbar-fixed-top" data-offset="50">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Gerina's Vishandel</a>
    </div>

    <div class="collapse navbar-collapse"  id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a class="active" href="#wie">Wie zijn wij?</a></li>
        <li><a href="#assortiment">Assortiment</a></li>
        <li><a href="#openingstijden">Openingstijden</a></li>
        <li><a href="#recensies">Recensies</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#mail"><img src="../images/mail.jpg"></a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="nieuws">
    <div class="bg"></div>
        <h1>Nieuws</h1>
        <p>Het is bijna zover</p>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
      </div>
  </div>

<div class="wrap">
<div id="wie">
    <div class="row">
      <div class="col-sm-12">
        <h1>Wie zijn wij?</h1>
      </div>
    </div>
  <div class="row">
      <div class="col-sm-4">
        <img src="../images/gerina.jpg">
      </div>
    <div class="col-sm-4">
              Gerina's vishandel is al ruim 30 jaar een begrip in de omgeving van Deventer.
              Gerina is in een kleine verkoopwagen begonnen op Keizerslanden. Na 10 jaar werd de verkoopwagen te klein.
              En werd de winkel geopend. Na 20 jaar lang met succes het middelpunt van Keizerslanden geweest te zijn.
              Moest er een moeilijke keuze worden gemaakt. Door de ontwikkelingen op het winkelcentrum is er gekozen om weer
              terug naar de verkoopwagen te gaan.
              Sinds Maart 2014 staat Gerina's vishandel weer met een verkoopwagen op het winkelcentrum Keizerslanden.
    </div>
      <div class="col-sm-4">
        <img src="../images/wim.jpg">
      </div>
    </div>
  </div>

<div id="assortiment">
    <div class="row">
      <div class="col-sm-12">
        <h1>Assortiment</h1>
      </div>
    </div>
  <div class="row">
      <div class="col-sm-6">
        <h3>Verse vis</h3>
          Door dat de producten iedere dag vers worden ingekocht beschikt Gerina's vishandel altijd over een ruim assortiment
          aan verse vis. Mocht het product waar u naar op zoek bent niet in het assortiment zitten, vraag er dan gerust na.
          Vaak kunnen de producten op bestelling wel geleverd worden. Gerina's vishandel houd hierbij wel rekening met de natuur            en daardoor is niet alle vis het hele jaar door vers verkrijgbaar. Het assortiment bestaat o.a. uit: zalm, schol(filet),
          hollandse kabeljauw, rode poon, forel, slibtong en makreel.
      </div>
      <div class="col-sm-6">
        <h3>Gebakken vis</h3>
          Gerina's vishandel staat al jaren bekend om de geweldige kwaliteit van de gebakken vis.
          De vis word altijd vers gebakken in plantaardige soja olie. De soja olie word iedere dag
          vervangen waardoor er altijd word gebakken in mooi nieuwe olie.
          Warm gebakken kibbelingen, lekkerbekken, visfriet, mosselen en schol zijn zomaar een selectie van
          producten die dagelijks vers worden gebakken.
      </div>
    </div>
      <div class="row">
        <div class="col-sm-6">
          <h3>Salades</h3>
            De huisgemaakte maaltijdsalades van Gerina's vishandel zijn bekend in de hele regio.
            De maaltijdsalades bestaan uit zalm of tonijn salade en deze zijn opgemaakt met zalmsnippers en garnalen.
            Verder bied Gerina's vishandel altijd een ruim assortiment aan schepsalades aan.
            Het assortiment bestaat uit:
              <ul>
                <li>Zalmsalade</li>
                <li>Tonijnsalade</li>
                <li>Krabsalade</li>
                <li>Scampi's in look salade</li>
                <li>Zeevruchtensalade</li>
                <li>Makreelfilet american salade</li>
              </ul>
            </div>
        <div class="col-sm-6">
          <h3>Roerbak, Paella & Pasta Tonijn</h3>
            Het is makkelijk te bereiden, erg gezond en erg lekker. Hierdoor worden deze producten steeds populairder.
            Gerina's vishandel heeft 3 soorten roerbak in het assortiment, namelijk de Franse, Hollandse en de Indische.
            De Franse is met een knoflook marinade, de Hollandse is met een wat zoetere marinade en de Indische marinade
            smaakt naar kerry. De roerbakvis is erg lekker te combineren met rijst of aardappelpuree. Maar kan natuurlijk ook
            gegeten worden met gewone aardappels.
        </div>
      </div>
    </div>

<div id="openingstijden">
    <div class="row">
      <div class="col-sm-12">
        <h1>Openingstijden</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <h3>Maandag:</h3>
          <ul>
            <li><red>Gesloten</red></li>
          </ul>
      </div>
      <div class="col-xs-4">
        <h3>Woensdag:</h3>
          <ul>
            <li>Kampen<br /> <green>10:30</green> - <red>17:00</red></li>
          </ul>
      </div>
      <div class="col-xs-4">
        <h3>Vrijdag:</h3>
          <ul>
            <li>Keizerslanden<br /> <green>10:00</green> - <red>17:00</red></li>
            <li>Wijhe<br /> <green>10:30</green> - <red>13:00</red></li>
            <li>Twello<br /> <green>14:00</green> - <red>18:00</red></li>
          </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <h3>Dinsdag:</h3>
          <ul>
            <li>Bathmen<br /> <green>10:30</green> - <red>13:00</red></li>
            <li>Oene<br /> <green>14:00</green> - <red>18:00</red></li>
          </ul>
      </div>
      <div class="col-xs-4">
        <h3>Donderdag:</h3>
          <ul>
            <li>Keizerslanden<br /> <green>10:00</green> - <red>17:00</red></li>
            <li>Wesepe<br /> <green>10:30</green> - <red>13:00</red></li>
            <li>Diepenveen<br /> <green>14:00</green> - <red>17:30</red></li>
          </ul>
      </div>
      <div class="col-xs-4">
        <h3>Zaterdag:</h3>
          <ul>
            <li>Keizerslanden<br /> <green>10:00</green> - <red>17:00</red></li>
              <li>Wijhe<br /> <green>09:30</green> - <red>17:00</red></li>
              <li>Diepenveen<br /> <green>09:30</green> - <red>17:00</red></li>
            </ul>
        </div>
      </div>
    </div>
</section>


<div id="recensies">
        <h1>Recensies</h1>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
</div>
</div>

<div id="mail">
    <div class="bg"></div>
        <h1>Contact</h1>
        <p>Vul hieronder uw gegevens en bericht in.<br />
          Wij reageren zo spoedig mogelijk.</p>
        <form role="form" action="https://formspree.io/chielhackman@gmail.com" method="post">
          <div class="form-group">
            <div class="col-xs-12">
              <input type="text" class="form-control" name="naam" required placeholder="Naam">
              <br />
              <input type="email" class="form-control" name="email" required placeholder="naam@voorbeeld.com">
              <br />
              <textarea class="form-control" rows="5" name="comment" placeholder="Plaats hier uw bericht" required></textarea>
              <br />
              <button type="submit" class="btn btn-success">Verstuur</button>
              <button type="reset" class="btn btn-danger">Annuleer</button>
              <input type="hidden" name="_next" value="http://gerinasvishandel.herokuapp.com/" />
              <br />
            </div>
          </div>
        </form>
        <div id="footer">
          <div class="container">
            <p><a href="http://www.chielhackman.nl" target="_blank">© 2016 Chiel Hackman</a> • Made with ♥ in Deventer</p>
          </div>
        </div>
  </div>
