
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<body data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#Navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Gerina's Vishandel</a>
    </div>
    <div>
    <div class="collapse navbar-collapse" id="Navbar">
    <ul class="nav navbar-nav">
      <li><a href="#wie">Wie zijn wij?</a></li>
      <li><a href="#assortiment">Assortiment</a></li>
      <li><a href="#openingstijden">Openingstijden</a></li>
      <li><a href="#recensies">Recensies</a></li>
    </ul>
  </div>
</div>
</div>
</nav>

<div id="nieuws">
    <div class="bg"></div>
        <h1>Nieuws</h1>
        <p>Het is bijna zover</p>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
  </div>
</div>

<div id="wie">
  <div class="bg"></div>
        <h1>Wie zijn wij?</h1>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
</div>

<div id="assortiment">
  <div class="bg"></div>
        <h1>Assortiment</h1>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
</div>

<div id="openingstijden">
  <div class="bg"></div>
        <h1>Openingstijden</h1>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
</div>

<div id="recensies">
  <div class="bg"></div>
        <h1>Recensies</h1>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
</div>
